@import "@amiga-fwk-web/sewing/sewing-ds.css";

.page-grid-padding {
  padding: var(--size5) 0px;
  width: 100%;
  height: calc(100% - (2 * var(--size5)));
  overflow-y: scroll;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader__label {
  margin-top: var(--size2);
}

.element-container {
  width: 100%;
  height: 100%;
}

.text--right {
  text-align: right;
}

.fullHeight {
  height: 100%;
}

table {
  display: table;
  overflow-x: auto;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  table {
    display: block;
  }
}

@media (min-width: 1200px) {
  table {
    display: table;
  }
}